<div ng-controller="AdminCtrl">
    <div class="navbar navbar-fixed-top container">
      <div class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="navbar-brand" href="#">Economics Experiment</div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a>Administrator</a>
          </li>
        </ul>
      </div>
    </div>

		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-12">
              <div id="router-status" class="alert alert-danger"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
    								<li><a href="admin/payouts" target="_blank">View Payouts</a></li>
    								<li><a id="archive" href="#">Archive Session</a></li>
    								<li><a id="download" href="admin/download">Download Data</a></li>
    							</ul>
                </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<h4>Subjects</h4>
							<table class="table table-bordered table-condensed table-striped">
								<thead>
								<tr><th>ID</th><th>Group</th><th>Period</th><th style="width: 150px;"></th></tr>
								</thead>
								<tbody id="subject-list">
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<button id="start-session" class="btn btn-success" disabled="disabled">Start Session</button>
							<button id="refresh-subjects" class="btn btn-info" title="Attempt recover by refreshing all subject browsers">Recover Session</button>
							<button id="reset-session" class="btn btn-danger">Reset Session</button>
						</div>
						<div class="col-md-4">
							<div class="pull-right">
								<button id="pause-session" class="btn btn-warning" disabled="disabled">Pause</button>
								<button id="resume-session" class="btn btn-primary" disabled="disabled">Resume</button>
							</div>
						</div>
					</div>
				</div>
			</div>
      <hr>
      <div class="row" ng-show="validate">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
            <form class="form-horizontal">
              <h3>Config File</h3>
              <!-- treatment -->
              <div class="form-group">
                <label>Treatment</label>
                <select class="form-control" id="treatment" ng-model="configsettings.treatment">
                  <option>Directed Message</option>
                  <option>No Message</option>
                  <option>Free Message</option>
                  <option>Readers</option>
                </select>
              </div>
              <!-- methods -->
              <div class="form-group" ng-show="configsettings.treatment === 'Directed Message' || configsettings.treatment === 'Readers'">
                <label>Elicitation Method</label>
                <select class="form-control" id="method" ng-model="methods.selectedOption"
                  ng-options="method.name for method in methods[configsettings.treatment]">
                </select>
              </div>
              <!-- Single Price Offer Value -->
              <div class="form-group" ng-show="methods.selectedOption.name === 'SOP'">
                <label for="Price">SOP Value (in dollars)</label>
                <input type="integer" class="form-control" id="sopValue" value="3" placeholder="SOP Value">
              </div>
              <!-- endowment -->
              <div class="form-group">
                <label for="endowment">Endowment (in dollars)</label>
                <input type="integer" class="form-control" id="endowment" value="3" placeholder="Endowment">
              </div>
              <!-- incomegoal -->
              <div class="form-group">
                <label for="incomegoal">Income Goal (in dollars)</label>
                <input type="integer" class="form-control" id="incomegoal" value="10" placeholder="Income Goal" style="text-align:left;">
              </div>
              <!-- scale -->
              <div class="form-group">
                <label for="scale">Scale</label>
                <input type="integer" class="form-control" id="scale" value="1" placeholder="Scale" style="text-align:left;">
              </div>
              <!-- debug -->
              <div class="form-group">
                <label>Debug</label>
                <select class="form-control" id="debug">
                  <option>False</option>
                  <option>True</option>
                </select>
              </div>
              <!-- validate -->
              <div class="row">
                <div class="text-center">
                  <button type="submit" class="btn btn-default" id="set_config">Validate</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" ng-hide="validate">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
            <h3>Current Session</h3>
            <table class="table table-striped table-hover table-condensed">
              <tr>
                <td>Treatment</td>
                <td id="showtreatment"></td>
              </tr>
              <tr ng-show="configsettings.treatment === 'Directed Message' || configsettings.treatment === 'Readers'">
                <td>Method</td>
                <td id="showmethod"></td>
              </tr>
              <tr ng-show="methods.selectedOption.name === 'SOP'">
                <td>SOP Value</td>
                <td id="showsopValue"></td>
              </tr>
              <tr ng-hide="methods.selectedOption.name === 'BDMWTA'">
                <td>Endowment</td>
                <td id="showendowment"></td>
              </tr>
              <tr>
                <td>Income Goal</td>
                <td id="showincomegoal"></td>
              </tr>
              <tr>
                <td>Scale</td>
                <td id="showscale"></td>
              </tr>
              <tr>
                <td>Debug</td>
                <td id="showdebug"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <button ng-click="downloadcsv()" type="button" class="btn btn-default">
          Download
        </button>
      </div>

      <div class="row">
        <div class="well">
          <h3>Part 1</h3>
          <table class="table table-striped table-hover table-condensed">
            <tr>
              <th>ID</th>
              <th>Happiness</th>
              <th>Fear</th>
              <th>Sadness</th>
              <th>Anger</th>
              <th>Surprise</th>
              <th>Disgust</th>
            </tr>
            <tr ng-repeat="subject in subjects | orderBy : 'userid'">
              <td ng-bind="subject.userid"></td>
              <td ng-bind="subject.happiness"></td>
              <td ng-bind="subject.sadness"></td>
              <td ng-bind="subject.fear"></td>
              <td ng-bind="subject.anger"></td>
              <td ng-bind="subject.disgust"></td>
              <td ng-bind="subject.surprise"></td>
            </tr>
          </table>
          <h3>Part 2</h3>
          <table class="table table-striped table-hover table-condensed">
            <tr>
              <th>ID</th>
              <div ng-repeat="task in tasknum">
                <th>T{{task}}-time</th>
                <th>T{{task}}-points</th>
              </div>
              <th>Total Income</th>
            </tr>
            <tr ng-repeat="subject in subjects | orderBy : 'userid'">
              <div ng-repeat="task in tasknum">
                <th>{{subject.tasks[task]}}</th>
                <th>{{subject.tasktime[task]}}</th>
              </div>
              <th>{{subject.totalpoints}}</th>
            </tr>
          </table>
          <h3>Part 3</h3>
          <table class="table table-striped table-hover table-condensed xscollable">
            <tr>
              <th>ID</th>
              <th>Partner-ID</th>
              <th>Role</th>
              <th>TakeRate</th>
              <th>ETakeRate</th>
              <th>WTP</th>
              <th>Actual Price</th>
              <th>Message</th>
              <th>FinalEarnings</th>
            </tr>
            <tr ng-repeat="subject in subjects | orderBy : 'userid'">
              <td ng-bind="subject.userid"></td>
              <td ng-bind="subject.partnerId"></td>
              <td ng-bind="subject.role"></td>
              <td ng-bind="subject.takerate"></td>
              <td ng-bind="subject.etakerate"></td>
              <td ng-bind="subject.wtp"></td>
              <td ng-bind="subject.actualprice"></td>
              <td ng-bind-html="subject.message"></td>
              <td ng-bind="subject.finalearnings"></td>
            </tr>
          </table>
          <h3>Part 4</h3>
          <table class="table table-striped table-hover table-condensed">
            <tr>
              <th>ID</th>
              <th>Happiness</th>
              <th>Sadness</th>
              <th>Fear</th>
              <th>Anger</th>
              <th>Surprise</th>
              <th>Disgust</th>
            </tr>
            <tr ng-repeat="subject in subjects | orderBy : 'userid'">
              <td ng-bind="subject.userid"></td>
              <td ng-bind="subject.happiness"></td>
              <td ng-bind="subject.sadness"></td>
              <td ng-bind="subject.fear"></td>
              <td ng-bind="subject.anger"></td>
              <td ng-bind="subject.surprise"></td>
              <td ng-bind="subject.disgust"></td>
            </tr>
          </table>
        </div>
      </div>
			<div class="row">
				<div class="col-md-12">
					<h4>Configuration</h4>
					<load-config></load-config>
					<div style="overflow: auto;">
						<table class="config table table-bordered table-striped table-condensed"></table>
					</div>
				</div>
			</div>
		</div>
  </div>
