<div ng-controller="AdminCtrl">
    <div class="navbar navbar-fixed-top container">
      <div class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="navbar-brand" href="#">Economics Experiment</div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a>Administrator</a>
          </li>
        </ul>
      </div>
    </div>

		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-12">
              <div id="router-status" class="alert alert-danger"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
    								<li><a href="admin/payouts" target="_blank">View Payouts</a></li>
    								<li><a id="archive" href="#">Archive Session</a></li>
    								<li><a id="download" href="admin/download">Download Data</a></li>
    							</ul>
                </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<h4>Subjects</h4>
							<table class="table table-bordered table-condensed table-striped">
								<thead>
								<tr><th>ID</th><th>Group</th><th>Period</th><th style="width: 150px;"></th></tr>
								</thead>
								<tbody id="subject-list">
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<button id="start-session" class="btn btn-success">Start Session</button>
							<button id="refresh-subjects" class="btn btn-info" title="Attempt recover by refreshing all subject browsers">Recover Session</button>
							<button id="reset-session" class="btn btn-danger">Reset Session</button>
						</div>
						<div class="col-md-4">
							<div class="pull-right">
								<button id="pause-session" class="btn btn-warning" disabled="disabled">Pause</button>
								<button id="resume-session" class="btn btn-primary" disabled="disabled">Resume</button>
							</div>
						</div>
					</div>
				</div>
			</div>
      <hr>
      <div class="row">
        <button ng-click="downloadcsv()" type="button" class="btn btn-default" style="margin-left:auto;margin-right:auto;">
          Download
        </button>
      </div>

      <div class="row">
        <div class="well">
          <h3>Part 1</h3>
          <div class="xscollable">
            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>ID</th>
                <th ng-repeat="emotion in emotions">{{emotion}}</th>
              </tr>
              <tr ng-repeat="subject in subjects | orderBy : 'userid'">
                <td ng-bind="subject.userid"></td>
                <td ng-bind="emotion.value" ng-repeat="emotion in subject.part1"></td>
              </tr>
            </table>
          </div>
          <h3>Part 2</h3>
          <div class="xscollable">
            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>ID</th>
                <th ng-repeat="task in tasknum">T{{task}}-points</th>
                <th>Total Income</th>
              </tr>
              <tr ng-repeat="subject in subjects | orderBy : 'userid'">
                <td>{{subject.userid}}</td>
                <td ng-repeat="task in tasknum">{{subject.tasks[task] | number:0}}</td>
                <td>{{subject.totalpoints | number:0}}</td>
              </tr>
            </table>
          </div>
          <h3>Part 3</h3>
          <div class="xscollable">
            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>ID</th>
                <th>Partner-ID</th>
                <th>Role</th>
                <th>TakeRate</th>
                <th>ETakeRate</th>
                <th>WTP</th>
                <th>Actual Price</th>
                <th>Message</th>
                <th>FinalEarnings</th>
              </tr>
              <tr ng-repeat="subject in subjects | orderBy : 'userid'">
                <td ng-bind="subject.userid"></td>
                <td ng-bind="subject.partnerId"></td>
                <td ng-bind="subject.role"></td>
                <td ng-bind="subject.takerate"></td>
                <td ng-bind="subject.etakerate"></td>
                <td ng-bind="subject.wtp"></td>
                <td ng-bind="subject.actualprice"></td>
                <td ng-bind-html="subject.message"></td>
                <td ng-bind="subject.finalearnings"></td>
              </tr>
            </table>
          </div>
          <h3>Part 4</h3>
          <div class="xscollable">
            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>ID</th>
                <th ng-repeat="emotion in emotions">{{emotion}}</th>
              </tr>
              <tr ng-repeat="subject in subjects | orderBy : 'userid'">
                <td ng-bind="subject.userid"></td>
                <td ng-bind="emotion.value" ng-repeat="emotion in subject.part4"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
			<div class="row">
				<div class="col-md-12">
					<h4>Configuration</h4>
					<load-config></load-config>
					<div style="overflow: auto;">
						<table class="config table table-bordered table-striped table-condensed"></table>
					</div>
				</div>
			</div>
		</div>
  </div>
