body {
  padding-top: 60px;
}

.table-nonfluid {
  width: 400px;
}

/*
#slider {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#slider label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}
*/

.tickLabel {
  margin-right: 20px;

}

.scollable {
  overflow-y: scroll;
}

.horizontal-slider {
  width:600px;
  margin:auto;
  margin-top: 14.3px;
}

.vertical-slider {
  height: 300px;
  margin: auto;
}
