{% load verbatim %}
<!DOCTYPE HTML>
<html ng-app="Redwood">
<head>
  <title>Start</title>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/bootstrap/bootstrap-3.1.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/jquery/jquery.ui.labeledslider.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/sweet-alert.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/angular/angular-1.2.16.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/redwoodCore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/redwoodHelpers.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}framework/js/redwoodSubject.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}framework/js/synchronizedStopWatch.js"></script>

  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}framework/css/bootstrap-3.1.1.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}framework/css/jquery.ui.labeledslider.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}framework/css/sweet-alert.css">

	<script type="text/javascript">
		{{ js }}
	</script>
	<style type="text/css">
		{{ css }}
	</style>
</head>
{% verbatim %}
<!-- <body style="padding-top:80px;" ng-controller="SubjectCtrl" ng-include="'/static/experiments/continuousMatrix/continuousMatrixStart.html'"></body> -->
<body style="padding-top:80px;" ng-controller="SubjectCtrl">
  <!-- start experiment -->
  <div class="container" ng-show="showpage.showStartExperiment">
    <div class="row">
      <div class="col-mid-4 col-mid-offset-4">
        <h3 class="text-center">To begin the experiment click Continue</h3>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info"
          ng-click="showpage.showStartExperiment = false; showpage.part1 = true; saveState();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- start part 1 -->
  <div class="container" ng-show="showpage.part1;">
    <div class="row">
      <div class="col-mid-4 col-mid-offset-4">
        <h3 class="text-center">Part 1</h3>
        <p class="text-center">To start click continue</p>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-info" ng-click="showpage.part1 = false; showpage.initalquestions = true; saveState();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- inital questions -->
  <div class="container" ng-show="showpage.initalquestions">
    <div class="row">
      <div class="col-mid-4 col-mid-offset-4">
        <h3 class="text-center">Please use the sliders to indicate your current state:
        </h3>
        <h4 class="text-center">(1 : you are not experiencing the feeling very strongly.<br>
          10 : you are experiencing the feeling very strongly.)
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="text-center" id="slider1">
          <div id="ihappiness" style="height: 300px;margin-left: 100%"></div>
          <h4 id="initalhappiness" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Happiness</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="isadness" style="height: 300px;margin-left: 100%"></div>
          <h4 id="initalsadness" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Sadness</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="ifear" style="height: 300px;margin-left: 100%"></div>
          <h4 id="initalfear" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Fear</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="ianger" style="height: 300px;margin-left: 100%"></div>
          <h4 id="initalanger" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Anger</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="isurprise" style="height: 300px;margin-left: 100%"></div>
          <h4 id="initalsurprise" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Surprise</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="idisgust" style="height: 300px;margin-left: 100%"></div>
          <h4 id="initaldisgust" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Disgust</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info" ng-click="finishQuestions()">Continue</button>
      </div>
    </div>
  </div>
  <!-- start part 2 -->
  <!-- have a barrier here -->
  <div class="container" ng-show="showpage.part2">
    <div class="row">
      <h1 class="text-center">Please Wait...</h1>
    </div>
  </div>
  <div class="container" ng-show="showpage.part2ready">
    <div class="row">
      <div class="text-center">
        <h3>Part 2</h3>
        <p>To start click continue</p>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-info" ng-click="showpage.part2ready = false; showpage.exampleTasks = true;saveState();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- instructions -->
  <div class="container" ng-show="showpage.exampleTasks">
    <div class="row">
      <div class="text-center">
        <h3>You will be asked to complete a sequence of tasks.<br>
          The first two tasks are practice screens.
        </h3>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-info" ng-click="practiceGame1();">
          Continue
        </button>
      </div>
    </div>
  </div>

  <!-- practice screens -->
  <!-- practice one -->
  <div class="container" ng-show="showpage.practice1">
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <h2 class="text-center">Practice Screen {{practiceRound}}</h2>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-success" data-toggle="instructions" title="Task"
          data-content="Use the <em>left-click</em> of the mouse to <em>move</em>
          the yellow circle (in the left graph) and search for the location that gives you the highest
          score in Points. The Points Indicator is on right (100 points = 1.00 dollar).
          The assigned time is 35 seconds and can be exceeded. You can try as many points as you want.">
          ?
        </button>
      </div>
    </div>
    <div class="row text-center">
      <h3>Assigned time can be exceeded and points earned here will not count.<br>
        The current task can earn you a maximim of 50 points.
      </h3>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 text-right">
            <h4 id="nearnesspractice" class="text-center">Click!</h4>
          </div>
          <div class="col-md-4">
            <h4 id="locationpractice" class="text-center"></h4>
          </div>
        </div>
        <!-- Game -->
        <div class="row">
          <div id="practice1" style="width:600px;height:600px"></div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- points earned -->
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <h3>Time Left</h3>
          </div>
          <div class="col-md-2">
            <h3>{{time}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <h3>Points</h3>
          </div>
          <div class="col-md-2">
            <h3 id="pointspractice"></h3>
          </div>
        </div>
        <!-- locator -->
        <div class="row">
          <div class="col-md-11 col-md-offset-4">
            <canvas id="practicelocator" width="150px" height="450px"></canvas>
          </div>
        </div>
        <div class="row" ng-show="practiceRound === 1">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="nextPractice()">Go To Next Task</button>
          </div>
        </div>
        <div class="row" ng-show="practiceRound === 2">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="finalPractice();saveState();">
              Start Real Task
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- real tasks -->
  <div class="container" ng-show="showpage.realTasks">
    <div class="row">
      <div class="text-center">
        <h3>Practice screens are over.<br>
          The following tasks do count towards your income.
        </h3>
        <div class="text-center">
          <button ng-show="showpage.realTasksReady" type="button" class="btn btn-info" ng-click="showgame()">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- income earning -->
  <div class="container" ng-show="showpage.gametime">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <h2>Task {{task}}</h2>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-success" data-toggle="instructions" title="Task"
          data-content="Use the <em>left-click</em> of the mouse to <em>move</em>
          the yellow circle (in the left graph) and search for the location that gives you the highest
          score in Points. The Points Indicator is on right (100 points = 1.00 dollar).
          The assigned time is 35 seconds. You can try as many points as you want." data-placement="bottom">
          ?
        </button>
      </div>
    </div>
    <div class="row">
      <h3 class="text-center" id="income">So far, your income is $0.00.</h3>
    </div>
    <div class="row text-center">
      <h3 class="text-center" id="currentTask">The current task can earn you a
        maximum of {{maxpoints}} points.
      </h3>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5 col-md-offset-1 text-right">
            <h4 id="nearness" class="text-center">Click!</h4>
          </div>
          <div class="col-md-4">
            <h4 id="location" class="text-center"></h4>
          </div>
        </div>
        <!-- Game -->
        <div class="row">
          <div id="placeholder" style="width:600px;height:600px"></div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- points earned -->
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <h3 id="timer">Time Left</h3>
          </div>
          <div class="col-md-2">
            <h3>{{time}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <h3>Points</h3>
          </div>
          <div class="col-md-2">
            <h3 id="points"></h3>
          </div>
        </div>
        <!-- locator -->
        <div class="row">
          <div class="col-md-11 col-md-offset-4">
            <canvas id="locator" width="150px" height="450px"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <button id="nexttask" type="button" class="btn btn-success" ng-click="nexttask()">Go To Next Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- money received-->
  <div class="container" ng-show="showpage.moneyReceived">
    <div class="row">
      <h3>
        For this part of the experiment you have received ${{floatToMoney(endownment)}}
        of endownment and earned ${{floatToMoney(income)}} of task income.
      </h3>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <button type="button" class="btn btn-success" ng-click="moneyShown()">
          Continue
        </button>
      </div>
    </div>
  </div>

  <div class="container" ng-show="showpage.part3">
    <div class="row">
      <h1 class="text-center">Please Wait...</h1>
    </div>
  </div>
  <!-- start part 3 -->
  <div class="container" ng-show="showpage.part3ready">
    <div class="row">
      <h3 class="text-center">Part 3</h3>
      <p class="text-center">To start click continue</p>
      <div class="col-mid-4 col-mid-offset-4">
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success"
          ng-click="part3ready();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- core interaction -->

  <!-- assign roles -->
  <div class="container" ng-show="showpage.roles">
    <div class="row">
      <h2 class="text-center">Your role is {{role}}</h2>
      <h2 class="text-center">In Part 2, you have recieved ${{floatToMoney(endownment)}} as
        endownment and earned ${{floatToMoney(income)}} of income.</h2>
      <h2 class="text-center" ng-hide="role === 'R'">Your counterpart, {{partner.role}}, has received
        ${{floatToMoney(partner.endownment)}} as endownment and earned
        ${{floatToMoney(partner.income)}} of income.
      </h2>
    </div>
    <div class="row" ng-hide="role === 'R'">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="showSliders();">
          Continue
        </button>
      </div>
    </div>
    <div class="row" ng-show="role === 'R'">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="noSliders();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- slider -->
  <!-- barrier after the respective sliders -->

  <!-- T slider -->
  <div class="container" ng-show="showpage.slider && role === 'T'">
    <br>
    <div class="row">
      <h3 class="text-center" style="line-height:1.6;">
        Being T, you are given the authority to transfer money from P's account to your own account.
        The maximum amount of money you can collect is what P has earned as income in Part 2
        (${{floatToMoney(partner.income)}}).
      </h3>
    </div>
    <div class="row">
      <h3 class="text-center">What percentage of P's income do you want to transfer to your account?</h3>
      <h4 class="text-center">(Use the slider below to set this percentage)</h4>
    </div>
    <br><br><br><br>
    <div class="row text-center">
      <div class="col-md-12">
        <div id="tSlider" style="width:600px;"></div>
        <h4 id="tPercentTransfered">Percentage tranferred: {{percent}}</h4>
      </div>
    </div>
    <br><br><br><br>
    <div class="row">
      <h3 id="tMoneyTransferred" class="text-center">The amount tranferred to your account will be $0.</h3>
      <h3 id="tFinalEarnings" class="text-center">Your final earnings will be ${{totalincome}}.</h3>
    </div>
    <br>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="sendDecision();">
          Send Your Decision
        </button>
      </div>
    </div>
  </div>
  <!-- P slider -->
  <div class="container" ng-show="showpage.slider && role === 'P'">
    <br>
    <div class="row">
        <h3 class="text-center" style="line-height:1.6;">
        At this moment, your counterpart T is deciding what proportion of your income (${{floatToMoney(income)}})
        to transfer to his/her own account.
      </h3>
    </div>
    <div class="row">
      <h3 class="text-center">What percentage of your income do you expect T will transfer to his/her own account?</h3>
      <h4 class="text-center">(Use the slider below to set this percentage)</h4>
    </div>
    <br><br><br><br>
    <div class="row text-center">
      <div class="col-md-12">
        <div id="pSlider" style="width:600px;"></div>
        <h4 id="pPercentTransferred">Percentage transfered: {{percent}}</h4>
      </div>
    </div>
    <br><br><br><br>
    <div class="row">
      <h3 id="pMoneyTransferred" class="text-center">The amount transferred from your account would be $0.</h3>
      <h3 id="pFinalEarnings" class="text-center">Your final earnings would be ${{totalincome}}.</h3>
    </div>
    <br>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="sendEstimate();">
          Send Your Estimate
        </button>
      </div>
    </div>
  </div>

  <!-- waitpage -->
  <div class="container" ng-show="showpage.waitpage">
    <div class="row">
      <h1 class="text-center">Please Wait...</h1>
    </div>
  </div>
  <div class="container" ng-show="showpage.pwait">
    <div class="row">
      <h1 class="text-center">Your message has been sent to the reader.</h1>
    </div>
  </div>

  <!-- bid -->
  <!-- P Willingnesspage-->
  <!-- BDM1 -->
  <div class="container" ng-show="showpage.willingnesspage && role === 'P' && method === 'BDM1'">
    <div class="row">
      <h3 class="text-center">Your counterpart, T, has transferred {{partner.percentTransferred}}% of your income
        (${{floatToMoney(partner.moneytransferred) | number: 2}}) to his/her own account.</h3>
      <h3 class="text-center">Your avaliable earnings are now ${{floatToMoney(income - partner.moneytransferred) | number: 2}}</h3>
    </div>
    <div class="row text-center">
      <h3 class="text-center">What is the maximum amount you would be willing to pay to write and send a message that your
        counterpart T will read?</h3>
      <p class="text-center">(Express the amount in dollars and cents)</p>
      <input ng-model="bid" type="text" />
    </div>
    <div class="row text-center">
      <h3>The actual price of sending a message will be shown on the next screen.</h3>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="sendWillingness();">
          Send Your Decision
        </button>
      </div>
    </div>
  </div>
  <!-- BDM2 -->
  <div class="container" ng-show="showpage.willingnesspage && role === 'P' && method === 'BDM2'">
    <div class="row">
      <h3 class="text-center">Your counterpart, T, has transferred {{partner.percentTransferred}}% of your income
        (${{floatToMoney(partner.moneytransferred)}}) to his/her own account.</h3>
      <h3 class="text-center">Your avaliable earnings are now ${{floatToMoney(income - partner.moneytransferred)}}</h3>
    </div>
    <div class="row">
      <h3 class="text-center">What is the maximum amount you would be willing to pay to write and send a message that your
        counterpart T will read?</h3>
      <div class="col-md-offset-5 col-md-2" ng-repeat="price in bdm2values track by $index">
        <input type="checkbox" ng-model="price.selected" ng-change="bdm2Toggle($index)">
        ${{floatToMoney(price.value)}}
      </div>
    </div>
    <div class="row text-center">
      <h3>The actual price of sending a message will be shown on the next screen.</h3>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="sendWillingness();">
          Send Your Decision
        </button>
      </div>
    </div>
  </div>
  <!-- SOP -->
  <div class="container" ng-show="showpage.willingnesspage && role === 'P' && method === 'SOP'">
    <div class="row">
      <h3 class="text-center">Your counterpart, T, has transferred {{partner.percentTransferred}}% of your income
        (${{floatToMoney(partner.moneytransferred)}}) to his/her own account.</h3>
      <h3 class="text-center">Your avaliable earnings are now ${{floatToMoney(income - partner.moneytransferred)}}</h3>
    </div>
    <div class="row text-center">
      <h3 class="text-center">Do you want to send your message for ${{floatToMoney(sopValue)}}</h3>
      <p class="text-center">(Express the amount in dollars and cents)</p>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="sendWillingness('yes');">
          Yes
        </button>
        <button type="button" class="btn btn-success" ng-click="sendWillingness('no');">
          No
        </button>
      </div>
    </div>
  </div>
  <!-- BDMWTA -->
  <div class="container" ng-show="showpage.willingnesspage && role === 'P' && method === 'BDMWTA'">
    <div class="row">
      <h3 class="text-center">Your counterpart, T, has transferred {{partner.percentTransferred}}% of your income
        (${{floatToMoney(partner.moneytransferred)}}) to his/her own account.</h3>
      <h3 class="text-center">Your avaliable earnings are now ${{floatToMoney(income - partner.moneytransferred)}}</h3>
    </div>
    <div class="row text-center">
      <h3 class="text-center">What is the minimum amount you would be willing to
        accept to not write and send a message that your counterpart T will read?</h3>
      <p class="text-center">(Express the amount in dollars and cents)</p>
      <input ng-model="bid" type="text" />
    </div>
    <div class="row text-center">
      <h3>The actual price of sending a message will be shown on the next screen.</h3>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="sendWillingness();">
          Send Your Decision
        </button>
      </div>
    </div>
  </div>
  <!-- T Willingnesspage -->
  <div class="container" ng-show="showpage.willingnesspage && role === 'T'">
  </div>

  <!-- check price -->
  <div class="container" ng-show="showpage.checkprice && role === 'P'">
    <div class="row text-center">
      <h3>The actual price is ${{floatToMoney(actualprice) | number: 2}}</h3>
      <h3 ng-hide="method === 'BDMWTA'">Your maximum willingness was ${{floatToMoney(bid) | number: 2}}</h3>
      <h3 ng-show="method === 'BDMWTA'">Your minimum willingness was ${{floatToMoney(bid) | number: 2}}</h3>
      <h3 ng-show="ablesendmessage">Therefore, the message has been sent to your counterpart.</h3>
      <h3 ng-hide="ablesendmessage">Therefore, <u><strong>no</strong></u> message will be sent to your counterpart.</h3>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info"
          ng-click="checkprice();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- message box -->

  <!-- T message box -->
  <div class="container" ng-show="showpage.messagePage && role === 'T'">
    <div class="row">
      <h3 class="text-center">Here is the message from your counterpart :</h3>
    </div>
    <div class="row">
        <div class="col-md-offset-3"
          style="border-style:solid;border-width:2px;height:300px;width:600px;">
          <h4><div ng-bind-html="messages">
          </div></h4>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <button type="button" class="btn btn-info" ng-click="readMessage();saveState();">
          I have read the message
        </button>
    </div>
  </div>
  <!-- P message box -->
  <div class="container" ng-show="showpage.messagePage && role === 'P'">
    <div class="row">
      <h3 class="text-center">Write your message :</h3>
    </div>
    <div class="row">
      <div class="text-center">
        <h4><textarea style="height:300px;width:600px"ng-model="message"></textarea></h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info"
          ng-click="sendMessage();">Store Message</button>
      </div>
    </div>
  </div>
  <!-- R message box -->
  <div class="container" ng-show="showpage.messagePage && role === 'R'">
    <div class="row">
      <h3 class="text-center">Here are the messages :</h3>
    </div>
    <div class="row">
        <div class="col-md-offset-3 scollable"
          style="border-style:solid;border-width:2px;height:300px;width:600px;">
          <div ng-repeat="message in readerMessages track by $index">
            <h4>
              (Money Taken : {{floatToMoney(message.taken)}})
              <div ng-bind-html="message.text"></div>
              <div class="text-center">
                <button type="button" class="btn btn-info" ng-click="rmessageConfirm(message.userid,$index)">
                  Confirm
                </button>
              </div>
              <hr>
            </h4>
          </div>
        </div>
    </div>
    <br>
    <div class="row text-center" ng-show="readerlist.length === 0 && readerconfirm === 0">
        <button type="button" class="btn btn-info" ng-click="showpage.showEarnings = true; showpage.messagePage = false; saveState();">
          Continue
        </button>
    </div>
  </div>

  <!-- read message -->
  <div class="container" ng-show="showpage.readMessage && role === 'P'">
    <div class="row">
      <h3 class="text-center" ng-hide="reader">Your Counterpart T has read the message.</h3>
      <h3 class="text-center" ng-show="reader">The reader has read your message.</h3>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info" ng-click="messageConfirm()">
          Continue
        </button>
      </div>
    </div>
  </div>

  <!-- show earnings -->
  <!-- p show earnings-->
  <div class="container" ng-show="showpage.showEarnings && role === 'P'">
    <h2 class="text-center">
      Earnings <h3 class="text-center">(in $)</h3>
    </h2>
    <br>
    <div class="row">
      <table class="table table-striped table-bordered table-nonfluid" align="center">
        <tr>
          <td class="col-md-1"></td>
          <td class="col-md-1">Role {{partner.role}}</td>
          <td class="col-md-1">Role {{role}} (You)</td>
        </tr>
        <tr>
          <td>Endownment</td>
          <td class="text-center">{{floatToMoney(partner.endownment) | number: 2}}</td>
          <td class="text-center">{{floatToMoney(endownment) | number: 2}}</td>
        </tr>
        <tr>
          <td>Income</td>
          <td class="text-center">{{floatToMoney(partner.income) | number: 2}}</td>
          <td class="text-center">{{floatToMoney(income) | number: 2}}</td>
        </tr>
        <tr>
          <td>Money<br>Transferred</td>
          <td class="text-center">+{{floatToMoney(partner.moneytransferred) | number: 2}}</td>
          <td class="text-center">-{{floatToMoney(partner.moneytransferred) | number: 2}}</td>
        </tr>
        <tr ng-show="! (nomessage || freemessage)">
          <td>Message Price</td>
          <td></td>
          <td class="text-center">-{{partner.actualprice ? floatToMoney(partner.actualprice).toFixed(2) : ''}}</td>
        </tr>
        <tr>
          <td>Total Earnings</td>
          <td class="text-center">{{floatToMoney(partner.totalincome + endownment) | number: 2}}</td>
          <td class="text-center">{{floatToMoney(totalincome + endownment) | number: 2}}</td>
        </tr>
      </table>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info"
        ng-click="sawEarnings()">Continue</button>
    </div>
  </div>
  <!-- T show earnings -->
  <div class="container" ng-show="showpage.showEarnings && role === 'T'">
    <h2 class="text-center">
      Earnings <h3 class="text-center">(in $)</h3>
    </h2>
    <br>
    <div class="row">
      <table class="table table-striped table-bordered table-nonfluid" align="center">
        <tr>
          <td class="col-md-1"></td>
          <td class="col-md-1">Role {{role}} (You)</td>
          <td class="col-md-1">Role {{partner.role}}</td>
        </tr>
        <tr>
          <td>Endownment</td>
          <td class="text-center">{{floatToMoney(endownment) | number: 2}}</td>
          <td class="text-center">{{floatToMoney(partner.endownment) | number: 2}}</td>
        </tr>
        <tr>
          <td>Income</td>
          <td class="text-center">{{floatToMoney(income) | number: 2}}</td>
          <td class="text-center">{{floatToMoney(partner.income) | number: 2}}</td>
        </tr>
        <tr>
          <td>Money<br>Transferred</td>
          <td class="text-center">+{{floatToMoney(partner.moneytransferred) | number: 2}}</td>
          <td class="text-center">-{{floatToMoney(partner.moneytransferred) | number: 2}}</td>
        </tr>
        <tr ng-show="! (nomessage || freemessage)">
          <td>Message Price</td>
          <td></td>
          <td class="text-center">-{{partner.actualprice ? floatToMoney(partner.actualprice).toFixed(2) : ''}}</td>
        </tr>
        <tr>
          <td>Total Earnings</td>
          <td class="text-center">{{floatToMoney(totalincome + endownment) | number: 2}}</td>
          <td class="text-center">{{floatToMoney(partner.income + endownment) | number: 2}}</td>
        </tr>
      </table>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info"
        ng-click="sawEarnings()">Continue</button>
    </div>
  </div>
  <!-- R show earnings -->
  <div class="container" ng-show="showpage.showEarnings && role === 'R'">
    <h2 class="text-center">
      Earnings <h3 class="text-center">(in $)</h3>
    </h2>
    <br>
    <div class="row">
      <table class="table table-striped table-bordered table-nonfluid" align="center">
        <tr>
          <td class="col-md-1"></td>
          <td class="col-md-1">Role {{role}} (You)</td>
        </tr>
        <tr>
          <td>Endownment</td>
          <td class="text-center">{{floatToMoney(endownment)}}</td>
        </tr>
        <tr>
          <td>Income</td>
          <td class="text-center">{{floatToMoney(income)}}</td>
        </tr>
          <td>Total Earnings</td>
          <td class="text-center">{{floatToMoney(income + endownment)}}</td>
        </tr>
      </table>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info"
        ng-click="sawEarnings()">Continue</button>
    </div>
  </div>

  <!-- start part 4 -->
  <div class="container" ng-show="showpage.part4">
    <div class="row">
      <h3 class="text-center">Part 4</h3>
      <p class="text-center">To start click continue</p>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info"
          ng-click="showpage.finalquestions = true; showpage.part4 = false;saveState();">
          Continue
        </button>
      </div>
    </div>
  </div>
  <!-- final questions -->

  <!-- question 1 -->
  <div class="container" ng-show="showpage.finalquestions">
    <div class="row">
      <div class="col-mid-4 col-mid-offset-4">
        <h3 class="text-center">Please use the sliders to indicate your current state:
        </h3>
        <h4 class="text-center">(1 : you are not experiencing the feeling very strongly.<br>
          10 : you are experiencing the feeling very strongly.)
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="text-center" id="slider1">
          <div id="fhappiness" style="height: 300px;margin-left: 100%"></div>
          <h4 id="finalhappiness" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Happiness</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="fsadness" style="height: 300px;margin-left: 100%"></div>
          <h4 id="finalsadness" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Sadness</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="ffear" style="height: 300px;margin-left: 100%"></div>
          <h4 id="finalfear" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Fear</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="fanger" style="height: 300px;margin-left: 100%"></div>
          <h4 id="finalanger" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Anger</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="fsurprise" style="height: 300px;margin-left: 100%"></div>
          <h4 id="finalsurprise" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Surprise</h4>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <div id="fdisgust" style="height: 300px;margin-left: 100%"></div>
          <h4 id="finaldisgust" style="border-style:solid;border-width:2px;">0</h4>
          <h4>Disgust</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-info" ng-click="finishFinalQuestions()">Continue</button>
      </div>
    </div>
    </div>
  </div>

  <!-- thanks -->
  <div class="container" ng-show="showpage.thanks">
    <div class="row">
      <h2 class="text-center">Thank you for participating in this experiment.</h2>
      <h3 class="text-center">Please remain seated until the experimenter attends to you.</h3>
    </div>
  </div>
</body>
{% endverbatim %}
</html>
